/* main.css */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300');

/*@font-face {
	font-family: "Circular-Medium";
	src: url("fonts/circular-medium.otf");
}
@font-face {
	font-family: "Circular-Light";
	src: url("fonts/circular-book.otf");
}*/

body {
	background-color: #fff !important;
	font-family: 'Circular-Light', 'Open Sans';
}
img {
	margin: auto;
	position: relative;
	max-height: 420px;
	right: 40px;
	top: -80px;
}
h1 {
	font-family: 'Circular-Medium', 'Roboto';
	font-weight: 400;
	color: #484848;
	font-size: 42px !important;
	margin-bottom: 15px !important;
}
p {
	color: #777;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
ul {
	list-style: none;
	padding-left: 0;
	margin-top: 15px;
}
ul li {
	display: inline;
	font-size: 15px;
	padding-right: 12.5px;
}


.container-fluid {
	font-family: 'Circular-Light', 'Open Sans';
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#crop {
	position: relative;
	float: right;
	max-height: 230px;
	max-width: 230px;
	overflow: hidden;
	border-radius: 50%;
}
#info {
	max-width: 70%;
	margin-left: 5%;
}

